
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content" class="container mt-5">
    <h1>Crear nuevo producto</h1>
    <hr>
    <div class="card shadow-sm">
        <div class="card-body">
            <form th:action="@{/productos/save}" th:object="${productoEISG}" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nombreEISG">Nombre<span style="color:red;">*</span></label>
                            <input type="text" class="form-control" th:field="*{nombreEISG}" id="nombreEISG" placeholder="Escriba el nombre del producto" required>
                            <div th:if="${#fields.hasErrors('nombreEISG')}" class="alert alert-danger">
                                <span th:each="err : ${#fields.errors('nombreEISG')}" th:text="${err}"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row" style="padding: 15px">
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary" style="width: 100%">Guardar</button>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <a th:href="@{/productos}" class="btn btn-outline-secondary" style="width: 100%">Regresar</a>

                        </div>
                    </div>
                </div>



            </form>
        </div>

    </div>


</div>
