<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content" class="container mt-5">
    <h1 class="mb-4">Eliminar Detalle Orden</h1>
    <hr>
    <h3>¿Está seguro que desea eliminar este registro?</h3>
    <div class="card shadow-sm mt-4">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 font-weight-bold">ID</dt>
                <dd class="col-sm-9" th:text="${detalleOrden.id}"></dd>

                <dt class="col-sm-3 font-weight-bold">Fecha de la Orden</dt>
                <dd class="col-sm-9" th:text="${#dates.format(detalleOrden.ordenEISG.fecha, 'dd/MM/yyyy')}"></dd>

                <dt class="col-sm-3 font-weight-bold">Nombre del Producto</dt>
                <dd class="col-sm-9" th:text="${detalleOrden.productoEISG.nombreEISG}"></dd>

                <dt class="col-sm-3 font-weight-bold">Cantidad</dt>
                <dd class="col-sm-9" th:text="${detalleOrden.cantidadEISG}"></dd>

                <dt class="col-sm-3 font-weight-bold">Precio</dt>
                <dd class="col-sm-9" th:text="${detalleOrden.precioEISG}"></dd>

            </dl>
        </div>
        <div class="card-footer text-right">
            <form th:action="@{/detalleOrdenes/delete}" method="post" class="d-inline">
                <input type="hidden" name="id" th:value="${detalleOrden.id}">
                <input type="submit" value="Eliminar" class="btn btn-outline-danger">
            </form>
            <a th:href="@{/detalleOrdenes}" class="btn btn-outline-secondary">Regresar</a>
        </div>
    </div>
</div>

</html>
