<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content" class="container mt-5">
    <h1 class="mb-4">Eliminar Orden</h1>
    <hr>
    <h3>¿Está seguro que desea eliminar este registro?</h3>
    <div class="card shadow-sm mt-4">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 font-weight-bold">ID</dt>
                <dd class="col-sm-9" th:text="${orden.id}"></dd>

                <dt class="col-sm-3 font-weight-bold">Fecha</dt>
                <dd class="col-sm-9" th:text="${#dates.format(orden.fecha, 'dd/MM/yyyy')}"></dd>
            </dl>
        </div>
        <div class="card-footer text-right">
            <form th:action="@{/ordenes/delete}" method="post" class="d-inline">
                <input type="hidden" name="Id" th:value="${orden.id}">
                <input type="submit" value="Eliminar" class="btn btn-outline-danger">
            </form>
            <a th:href="@{/ordenes}" class="btn btn-outline-secondary">Regresar</a>
        </div>
    </div>
</div>

</html>
